.popup__saved-btn {
  width: 100%;
  box-sizing: border-box;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0;
  transition: .2s ease-in;
  cursor: pointer;
}

.popup__saved-btn:hover,
.popup__saved-btn:focus {
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .popup__saved-btn {
    font-size: 18px;
  }
}